@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #02081a;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}